$mainColor: #000000;
$bgColor2: #2d3942;
$buttonColor: #1d9bf0;
$fontColor: #fff;
$lightColor: #757d85;
$inputButtonColor: #fff;
$transparentBackgroundColor: rgba(0, 0, 0, 0.3);
///hover color.
///
$lightGreyColor: rgba(grey, 0.2);
$colorRed: rgb(255, 25, 25);
$colorGreen: #02b902;
$tColor: #16181c;
$colorPinkii: #f91880;
$colorPinkiiTrans: rgba(249, 24, 129, 0.171);
