.homeSection {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 22% 1fr minmax(300px, 25%);
    @media screen and (max-width: 1050px) {
        padding: 0rem 1rem;
        grid-template-columns: min-content 1fr minmax(300px, 35%);
    }
    @media screen and (max-width: 841px) {
        padding: 0 1rem;
        grid-template-columns: min-content 1fr;
        overflow-x: hidden;
    }
}
